html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.page {
    display: grid;
    height: 100%;
    grid-template-columns: auto;
    grid-template-rows: 30% 10% 60%;
}

.start {
    font-size: 6vh;
    color: #999;
    background: #ccc;
    border: none;
    outline: none;
}

.indicator {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: #999;
    font-size: 6vh;
    font-weight: bold;
}

.indicator.on {
    background: #000;
}

.settings {
    outline: none;
    font-size: 3vh;
    padding: 1vh;
}
