html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #ccc;
}

.page {
    display: grid;
    height: 100%;
    grid-template-columns: auto;
    grid-template-rows: 30% 10% 60%;
    transition: grid-template-rows 0.5s ease;
}

.indicator {
    will-change: background;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: #999;
    background: #fff;
    font-size: 6vh;
    font-weight: bold;
    animation: bip infinite ease-in-out;
    animation-play-state: paused;
}

.start {
    font-size: 6vh;
    color: #999;
    background: #ccc;
    border: none;
    outline: none;
}
.started { display: none; }

.settings {
    outline: none;
    font-size: 3vh;
    padding: 1vh;
    color: #666;
}

.playing.page { grid-template-rows: 90% 10% 0; }

.playing .indicator { animation-play-state: running; }
.playing .started { display: inline; }
.playing .stopped { display: none; }
.playing .settings { display: none; }

@keyframes bip {
    from { background: #ccc; transform: scale(0.5); }
    25% { background: #ccc; }
    50% {background: #fff; transform: scale(1); }
    75% { background: #ccc; }
    to { background: #ccc; transform: scale(0.5); }
}
